*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1486523834155-1dabf4edaa64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2462&q=80') no-repeat center/cover;
}

h1{
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    top: 30%;
    right: 30%;
    font-size: 36px;
}

p{
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    top: 35%;
    right: 30%;
    font-size: 20px;
}